@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:    #5f021f;
  --secondary:  #575a5e;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary:    #8b2f4c;
  --secondary:  #6f7379;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
